@media (max-width: 640px) {
    #myElement {
      display: none;
    }
    #displayBlock{
        display: block;
    }
  }
  
@media (min-width: 820px) {
    
    #displayFlex{
        display: flex;
    }
  }
  